@import "tailwindcss";

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}
* {
  font-family: var(--font-inter-tight) !important;
}

.font-mono {
  font-family: var(--font-jetbrains-mono) !important;
}

.font-sans {
  font-family: var(--font-inter-tight) !important;
}

body {
  font-family: var(--font-inter-tight) !important;
}


@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
