@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #b9aaff;
    --primary-black: #202225;
    --text-color: #ccc;
    --card-bg: #414549;
    --arrow-color: #f0f0f080;
    --hero-text: #f0f0f080;
    --card-blur-layer: #000,rgba(0,0,0,.2);
    --menu-bg: #202225e7;
    --purple: rgb(196, 129, 224);
    --violet: rgb(117, 86, 170);
    --pink: rgb(244, 143, 177);
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
}



body{
    background-color: #202225;
    color: #ccc;
}

.cardBg{
    background-color: #414549;
}

.k:hover{
    transition: all .4s ease-in-out;
    background-color: #b9aaff;
}
.b{
    border: 1px solid yellow;
}

.p{
    border: 1px solid pink;
}

.r{
    border: 1px solid red;
}

.i:hover{
    color: var(--primary-color);
}

.popUp{
    transition: all .4s ease-in-out;
    
}
.popUp:hover{
    scale: 1.1;
    --tw-text-opacity: 1;
    color: rgb(216 180 254 / var(--tw-text-opacity));
}

.protfoilo{
    transition: all .4s ease-in-out;
}
.protfoilo:hover{
    scale: 1.1;
}

.overlay{
    /* background-color: yellow; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity .4s ease-in-out; 
    cursor: pointer;
    height: 100%;
    background: linear-gradient(to right,var(--purple),var(--violet),var(--pink),var(--purple));
    color: #fff;
}
.animatedColor{
    color: linear-gradient(#642bff,#ff22e6);
}

.overlay:hover{
    opacity: 1;
}

/* @keyframes _background-pan_bozsq_1 {
    0% {
        background-position: 0% center;
    }
    
    100% {
        background-position: -200% center;
    }
} */

.projectSection{
    border-color: hsla(0,0%,100%,.2);
}
.content::after{
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top,var(--card-blur-layer)),url(/src/assets/cardbg.webp) no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(18px);
    opacity: .4;
}

.prBg{
    background-image: url('./../src/assets/finalPersonal.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}